* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-main);
  color: var(--color-text);
  font-family: var(--font-stack);
  overflow-x: hidden;
}